
{% load static %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="" target="_blank" style="	position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;">
        <i class="fa fa-whatsapp my-float" style="margin-top:16px;"></i>
        </a>
         
     

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="" target="_blank" style="	position:fixed;
        width:60px;
        height:60px;
        bottom:110px;
        right:40px;
        background-color:rgb(218, 6, 200);
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;">
        <i class="fa fa-instagram my-float" style="margin-top:16px;"></i>
        </a>
        <br> 
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="" target="_blank" style="	position:fixed;
        width:60px;
        height:60px;
        bottom:181px;
        right:42px;
        background-color:#87b8f8;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;">
        <i class="fa fa-facebook my-float" style="margin-top:16px;"></i>
        
        </a>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-img">

        
        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <!-- Copywrite -->
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="{% static 'web/logo/brothers logo.png' %}" alt="logo"> </a>
                                </div>
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit ducimus voluptatibus neque illo id repellat quisquam? Autem expedita earum quae laborum ipsum ad.</p> -->
                            </div>
                            <!-- Social Icon -->
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                                <h5>USEFULL LINKS</h5>
                                    
                                <a href="{% url 'web:index' %}#"><p style="color:black">Home</p></a>
                                <a href="{% url 'web:aboutus' %}"><p style="color:black">Aboutus</p></a>
                                <a href="{% url 'web:groupofcompany' %}"><p style="color:black">Group of companies</p></a>
                                <a href="{% url 'web:product' %}"><p style="color:black">Product</p></a>
                                
                            </div>
                        </div>
                    </div>
                      
                    <div class="col-12 col-lg-2 col-md-6 ">
                        <!-- Content Info -->
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                                <h5></h5>
                                <a href=""><p></p></a>
                                <a href=""><ps</p></a><br>
                                <a href="{% url 'web:gallery' %}"><p style="color:black">Gallery</p></a>
                                <a href="{% url 'web:contact' %}"><p style="color:black">Contact us</p></a>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 col-lg-3 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <!-- Content Info -->
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT US</h5>
                                <p style="color:black">Brothers complex block road </p>
                                <p style="color:black">9656100100</p>
                                <p style="color:black" >WhatsApp :9656100153</p>
                                <p style="color:black">brothers_cogroups@yahoo.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->